---
http_interactions:
- request:
    method: post
    uri: https://staging-api.floodgate.io/apps/9d2852cff163507330242460c0ca5eec/ip_addresses
    body:
      encoding: US-ASCII
      string: ip_address%5Bip_address%5D=1.1.1.1&api_token=f28b5848e158f96e96168aa37f0002f2
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json
      etag:
      - "\"bbc66f5c6fff2775354263608d971d3a\""
    body:
      encoding: UTF-8
      string: "{\"ip_address\":\"1.1.1.1\"}"
  recorded_at: Tue, 04 Mar 2014 17:55:21 GMT
- request:
    method: get
    uri: https://staging-api.floodgate.io/apps/9d2852cff163507330242460c0ca5eec/status?api_token=f28b5848e158f96e96168aa37f0002f2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      etag:
      - "\"455e0371dd7f786131811e7ba5250560\""
    body:
      encoding: UTF-8
      string: "{\"allowed_ip_addresses\":[\"1.1.1.1\",\"9.109.14.25\",\"164.249.198.56\"],\"filter_traffic\":false,\"name\":\"mutable-test-app\",\"redirect_url\":null}"
  recorded_at: Tue, 04 Mar 2014 17:55:21 GMT
- request:
    method: delete
    uri: https://staging-api.floodgate.io/apps/9d2852cff163507330242460c0ca5eec/ip_addresses
    body:
      encoding: US-ASCII
      string: ip_address%5Bip_address%5D=1.1.1.1&api_token=f28b5848e158f96e96168aa37f0002f2
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      etag:
      - "\"23e8cc0c8abfb81d69429dfc9203ea60\""
    body:
      encoding: UTF-8
      string: "{\"ip_addresses\":[{\"ip_address\":\"1.1.1.1\"}]}"
  recorded_at: Tue, 04 Mar 2014 17:55:22 GMT
recorded_with: VCR 2.8.0
