---
http_interactions:
- request:
    method: put
    uri: https://staging-api.floodgate.io/apps/9d2852cff163507330242460c0ca5eec
    body:
      encoding: US-ASCII
      string: app%5Bredirect_url%5D=http%3A%2F%2Fexample.com&api_token=f28b5848e158f96e96168aa37f0002f2
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      etag:
      - "\"c0ed728ee82a560c475fa26bbca8d175\""
    body:
      encoding: UTF-8
      string: "{\"allowed_ip_addresses\":[\"9.109.14.25\",\"164.249.198.56\"],\"app_id\":\"9d2852cff163507330242460c0ca5eec\",\"errors\":{},\"filter_traffic\":false,\"name\":\"mutable-test-app\",\"redirect_url\":\"http://example.com\"}"
  recorded_at: Wed, 05 Mar 2014 18:57:37 GMT
- request:
    method: get
    uri: https://staging-api.floodgate.io/apps/9d2852cff163507330242460c0ca5eec/status?api_token=f28b5848e158f96e96168aa37f0002f2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      etag:
      - "\"c0ed728ee82a560c475fa26bbca8d175\""
    body:
      encoding: UTF-8
      string: "{\"allowed_ip_addresses\":[\"9.109.14.25\",\"164.249.198.56\"],\"app_id\":\"9d2852cff163507330242460c0ca5eec\",\"errors\":{},\"filter_traffic\":false,\"name\":\"mutable-test-app\",\"redirect_url\":\"http://example.com\"}"
  recorded_at: Wed, 05 Mar 2014 18:57:37 GMT
[...]
- request:
    method: get
    uri: https://staging-api.floodgate.io/apps/9d2852cff163507330242460c0ca5eec/status?api_token=f28b5848e158f96e96168aa37f0002f2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      etag:
      - "\"0486e521692e19559826ecf51f5bbd50\""
    body:
      encoding: UTF-8
      string: "{\"allowed_ip_addresses\":[\"9.109.14.25\",\"164.249.198.56\"],\"app_id\":\"9d2852cff163507330242460c0ca5eec\",\"errors\":{},\"filter_traffic\":false,\"name\":\"mutable-test-app\",\"redirect_url\":null}"
  recorded_at: Wed, 05 Mar 2014 18:57:38 GMT
recorded_with: VCR 2.8.0
