---
http_interactions:
- request:
    method: get
    uri: https://staging-api.floodgate.io/apps/fa5d63bcf3d6b557eee782c9e61e4002/status?api_token=da2f2d06c102eea0f1971c2c90936ee3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      etag:
      - "\"2cd1552465b6ee4f2e03742795feafba\""
    body:
      encoding: UTF-8
      string: "{\"allowed_ip_addresses\":[],\"app_id\":\"fa5d63bcf3d6b557eee782c9e61e4002\",\"errors\":{},\"filter_traffic\":true,\"name\":\"floodgate-gem-filter-traffic-true\",\"redirect_url\":null}"
  recorded_at: Wed, 05 Mar 2014 18:57:38 GMT
recorded_with: VCR 2.8.0
