---
http_interactions:
- request:
    method: get
    uri: http://staging.api.floodgate.io/api/apps/fa5d63bcf3d6b557eee782c9e61e4002/status?api_token=da2f2d06c102eea0f1971c2c90936ee3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      etag:
      - "\"dee747427e4c4ad6746155406732f396\""
    body:
      encoding: UTF-8
      string: "{\"allowed_ip_addresses\":[],\"filter_traffic\":true,\"name\":\"floodgate-gem-filter-traffic-true\",\"redirect_url\":null}"
  recorded_at: Mon, 03 Mar 2014 20:59:49 GMT
recorded_with: VCR 2.8.0
