---
http_interactions:
- request:
    method: get
    uri: https://staging-api.floodgate.io/apps/fa5d63bcf3d6b557eee782c9e61e4002/status?api_token=da2f2d06c102eea0f1971c2c90936ee3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      etag:
      - "\"dee747427e4c4ad6746155406732f396\""
    body:
      encoding: UTF-8
      string: "{\"allowed_ip_addresses\":[],\"filter_traffic\":true,\"name\":\"floodgate-gem-filter-traffic-true\",\"redirect_url\":null}"
  recorded_at: Tue, 04 Mar 2014 17:55:30 GMT
recorded_with: VCR 2.8.0
