---
http_interactions:
- request:
    method: put
    uri: http://staging.api.floodgate.io/api/apps/9d2852cff163507330242460c0ca5eec
    body:
      encoding: US-ASCII
      string: app%5Bfilter_traffic%5D=true&api_token=f28b5848e158f96e96168aa37f0002f2
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      etag:
      - "\"7771a307c8a2bc95dff054cd3bfcbf9c\""
    body:
      encoding: UTF-8
      string: "{\"allowed_ip_addresses\":[\"9.109.14.25\",\"164.249.198.56\"],\"filter_traffic\":true,\"name\":\"mutable-test-app\",\"redirect_url\":null}"
  recorded_at: Mon, 03 Mar 2014 20:59:45 GMT
- request:
    method: get
    uri: http://staging.api.floodgate.io/api/apps/9d2852cff163507330242460c0ca5eec/status?api_token=f28b5848e158f96e96168aa37f0002f2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      etag:
      - "\"7771a307c8a2bc95dff054cd3bfcbf9c\""
    body:
      encoding: UTF-8
      string: "{\"allowed_ip_addresses\":[\"9.109.14.25\",\"164.249.198.56\"],\"filter_traffic\":true,\"name\":\"mutable-test-app\",\"redirect_url\":null}"
  recorded_at: Mon, 03 Mar 2014 20:59:45 GMT
[...]
- request:
    method: get
    uri: http://staging.api.floodgate.io/api/apps/9d2852cff163507330242460c0ca5eec/status?api_token=f28b5848e158f96e96168aa37f0002f2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      etag:
      - "\"5dcd96cc7b45b270738601bce30d703f\""
    body:
      encoding: UTF-8
      string: "{\"allowed_ip_addresses\":[\"9.109.14.25\",\"164.249.198.56\"],\"filter_traffic\":false,\"name\":\"mutable-test-app\",\"redirect_url\":null}"
  recorded_at: Mon, 03 Mar 2014 20:59:46 GMT
recorded_with: VCR 2.8.0
