---
http_interactions:
- request:
    method: put
    uri: https://staging-api.floodgate.io/apps/9d2852cff163507330242460c0ca5eec
    body:
      encoding: US-ASCII
      string: app%5Bfilter_traffic%5D=false&api_token=f28b5848e158f96e96168aa37f0002f2
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      etag:
      - "\"0486e521692e19559826ecf51f5bbd50\""
    body:
      encoding: UTF-8
      string: "{\"allowed_ip_addresses\":[\"9.109.14.25\",\"164.249.198.56\"],\"app_id\":\"9d2852cff163507330242460c0ca5eec\",\"errors\":{},\"filter_traffic\":false,\"name\":\"mutable-test-app\",\"redirect_url\":null}"
  recorded_at: Wed, 05 Mar 2014 18:57:32 GMT
- request:
    method: get
    uri: https://staging-api.floodgate.io/apps/9d2852cff163507330242460c0ca5eec/status?api_token=f28b5848e158f96e96168aa37f0002f2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      etag:
      - "\"0486e521692e19559826ecf51f5bbd50\""
    body:
      encoding: UTF-8
      string: "{\"allowed_ip_addresses\":[\"9.109.14.25\",\"164.249.198.56\"],\"app_id\":\"9d2852cff163507330242460c0ca5eec\",\"errors\":{},\"filter_traffic\":false,\"name\":\"mutable-test-app\",\"redirect_url\":null}"
  recorded_at: Wed, 05 Mar 2014 18:57:32 GMT
[...]
- request:
    method: get
    uri: https://staging-api.floodgate.io/apps/9d2852cff163507330242460c0ca5eec/status?api_token=f28b5848e158f96e96168aa37f0002f2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      etag:
      - "\"0844509a0d12676c9dbf04cc4caec2b5\""
    body:
      encoding: UTF-8
      string: "{\"allowed_ip_addresses\":[\"9.109.14.25\",\"164.249.198.56\"],\"app_id\":\"9d2852cff163507330242460c0ca5eec\",\"errors\":{},\"filter_traffic\":true,\"name\":\"mutable-test-app\",\"redirect_url\":null}"
  recorded_at: Wed, 05 Mar 2014 18:57:32 GMT
recorded_with: VCR 2.8.0
