---
http_interactions:
- request:
    method: get
    uri: https://staging-api.floodgate.io/apps/cbaeb13b7f63956ef70c382a7a67407d/status?api_token=349d2b1ee8ec56eb04b909b1eb9993b0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      etag:
      - "\"564ff07053f5dc359a4887ac371fb32b\""
    body:
      encoding: UTF-8
      string: "{\"allowed_ip_addresses\":[\"166.147.100.145\"],\"app_id\":\"cbaeb13b7f63956ef70c382a7a67407d\",\"errors\":{},\"filter_traffic\":false,\"name\":\"floodgate-gem-filter-traffic-false\",\"redirect_url\":null}"
  recorded_at: Wed, 05 Mar 2014 18:57:38 GMT
recorded_with: VCR 2.8.0
