---
http_interactions:
- request:
    method: get
    uri: http://staging.api.floodgate.io/api/apps/cbaeb13b7f63956ef70c382a7a67407d/status?api_token=349d2b1ee8ec56eb04b909b1eb9993b0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      etag:
      - "\"8843d65a25ba489ef0f7eea44981e1f6\""
    body:
      encoding: UTF-8
      string: "{\"allowed_ip_addresses\":[\"166.147.100.145\"],\"filter_traffic\":false,\"name\":\"floodgate-gem-filter-traffic-false\",\"redirect_url\":null}"
  recorded_at: Mon, 03 Mar 2014 20:59:49 GMT
recorded_with: VCR 2.8.0
